:root {
    /* BASE */
    --white-color: #fff;
    --black-color: #000;

    /* APPLICATION WEB */
    --primary-color-hex: #4b2af2;
    --primary-color-rgba: 75, 42, 242;
    --primary-color: rgba(var(--primary-color-rgba), 1);
    --primary-color-gradient-050: rgba(var(--primary-color-rgba), 0.5);

    --primary-passive-color-hex: #c9bffb;
    --primary-passive-color-rgba: 201, 191, 251;
    --primary-passive-color: rgba(var(--primary-passive-color-rgba), 1);
    --primary-passive-color-gradient-050: rgba(var(--primary-passive-color-rgba), 0.5);

    --secondary-color-hex: #cccccc;
    --secondary-color-rgba: 204, 204, 204;
    --secondary-color: rgba(var(--secondary-color-rgba), 1);
    --secondary-color-gradient-050: rgba(var(--secondary-color-rgba), 0.5);

    --secondary-passive-color-hex: #efefef;
    --secondary-passive-color-rgba: 239, 239, 239;
    --secondary-passive-color: rgba(var(--secondary-passive-color-rgba), 1);
    --secondary-passive-color-gradient-050: rgba(var(--secondary-passive-color-rgba), 0.5);

    --accent-color-hex: #00ac7c;
    --accent-color-rgba: 0, 172, 124;
    --accent-color: rgba(var(--accent-color-rgba), 1);
    --accent-color-gradient: rgba(var(--accent-color-rgba), 0.5);

    --accent-passive-color-hex: #b2e6d7;
    --accent-passive-color-rgba: 178, 230, 215;
    --accent-passive-color: rgba(var(--accent-passive-color-rgba), 1);
    --accent-passive-color-gradient-050: rgba(var(--accent-passive-color-rgba), 0.5);

    --destructive-color-hex: #d93057;
    --destructive-color-rgba: 217, 46, 87;
    --destructive-color: rgba(var(--destructive-color-rgba), 1);
    --destructive-color-gradient-050: rgba(var(--destructive-color-rgba), 0.5);
    --destructive-color-gradient-080: rgba(var(--destructive-color-rgba), 0.8);

    --destructive-passive-color-hex: #fbebef;
    --destructive-passive-color-rgba: 251, 235, 239;
    --destructive-passive-color: rgba(var(--destructive-passive-color-rgba), 1);
    --destructive-passive-color-gradient-050: rgba(var(--destructive-passive-color-rgba), 0.5);

    --default-background-body-color: #f9f9f9;
    --default-background-body-color-contrast: #333232;

    --default-background-element-color: #fff;
    --default-background-element-color-contrast: #000;

    /* FONTS */
    --default-font-color: #333232;
    --default-font-color-contrast: #f9f9f9;

    /* BORDER */
    --default-border-color-gradient-003: rgba(0, 0, 0, 0.03);
    --default-border-color-gradient-005: rgba(0, 0, 0, 0.05);
    --default-border-color-gradient-007: rgba(0, 0, 0, 0.07);
    --default-border-color-gradient-010: rgba(0, 0, 0, 0.1);
    --default-border-color-gradient-020: rgba(0, 0, 0, 0.2);
    --default-border-color-gradient-030: rgba(0, 0, 0, 0.3);
    --default-border-color-gradient-040: rgba(0, 0, 0, 0.4);
    --default-border-color-gradient-050: rgba(0, 0, 0, 0.5);
    --default-border-color-gradient-060: rgba(0, 0, 0, 0.6);
    --default-border-color-gradient-070: rgba(0, 0, 0, 0.7);
    --default-border-color-gradient-090: rgba(0, 0, 0, 0.8);
    --default-border-color-gradient-090: rgba(0, 0, 0, 0.9);

    /* SHADOW */
    --default-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    --navbar-box-shadow: 0 0 2px 0 rgb(0 35 90 / 6%);

    /* TOASTR */
    --toastr-background: rgba(255, 255, 255, 0.6);
    --toastr-font-family: 'remixicon';
    --toastr-close-icon: '\eb99';

    --percent-bg: 0.9;
    --percent-bg-hover: 0.6;
    --percent-shadow: 0.3;

    --toastr-info: #8ab4f8;
    --toastr-info-dark: #0d47a1;
    --toastr-info-bg: rgba(138, 180, 248, var(--percent-bg));
    --toastr-info-bg-hover: rgba(13, 71, 161, var(--percent-bg-hover));
    --toastr-info-shadow: rgba(13, 71, 161, var(--percent-shadow));
    --toastr-info-icon: '\ee59';

    --toastr-success: #00c851;
    --toastr-success-dark: #007e33;
    --toastr-success-bg: rgba(129, 201, 149, var(--percent-bg));
    --toastr-success-bg-hover: rgba(0, 126, 51, var(--percent-bg-hover));
    --toastr-success-shadow: rgba(0, 126, 51, var(--percent-shadow));
    --toastr-success-icon: '\eb79';

    --toastr-warning: #fdd663;
    --toastr-warning-dark: #ff8800;
    --toastr-warning-bg: rgba(253, 214, 99, var(--percent-bg));
    --toastr-warning-bg-hover: rgba(255, 136, 0, var(--percent-bg-hover));
    --toastr-warning-shadow: rgba(255, 136, 0, var(--percent-shadow));
    --toastr-warning-icon: '\ea21';

    --toastr-error: #f28b82;
    --toastr-error-dark: #cc0000;
    --toastr-error-bg: rgba(242, 139, 130, var(--percent-bg));
    --toastr-error-bg-hover: rgba(204, 0, 0, var(--percent-bg-hover));
    --toastr-error-shadow: rgba(204, 0, 0, var(--percent-shadow));
    --toastr-error-icon: '\eca1';
}
