:root {
    /* BASE */
    --white-color: #fff;
    --black-color: #000;

    /* APPLICATION WEB */
    --primary-color-hex: #4b2af2;
    --primary-color-rgba: 75, 42, 242;
    --primary-color: rgba(var(--primary-color-rgba), 1);
    --primary-color-gradient-050: rgba(var(--primary-color-rgba), 0.5);

    --primary-passive-color-hex: #c9bffb;
    --primary-passive-color-rgba: 201, 191, 251;
    --primary-passive-color: rgba(var(--primary-passive-color-rgba), 1);
    --primary-passive-color-gradient-050: rgba(var(--primary-passive-color-rgba), 0.5);

    --secondary-color-hex: #cccccc;
    --secondary-color-rgba: 204, 204, 204;
    --secondary-color: rgba(var(--secondary-color-rgba), 1);
    --secondary-color-gradient-050: rgba(var(--secondary-color-rgba), 0.5);

    --secondary-passive-color-hex: #efefef;
    --secondary-passive-color-rgba: 239, 239, 239;
    --secondary-passive-color: rgba(var(--secondary-passive-color-rgba), 1);
    --secondary-passive-color-gradient-050: rgba(var(--secondary-passive-color-rgba), 0.5);

    --accent-color-hex: #00ac7c;
    --accent-color-rgba: 0, 172, 124;
    --accent-color: rgba(var(--accent-color-rgba), 1);
    --accent-color-gradient: rgba(var(--accent-color-rgba), 0.5);

    --accent-passive-color-hex: #b2e6d7;
    --accent-passive-color-rgba: 178, 230, 215;
    --accent-passive-color: rgba(var(--accent-passive-color-rgba), 1);
    --accent-passive-color-gradient-050: rgba(var(--accent-passive-color-rgba), 0.5);

    --destructive-color-hex: #d93057;
    --destructive-color-rgba: 217, 46, 87;
    --destructive-color: rgba(var(--destructive-color-rgba), 1);
    --destructive-color-gradient-050: rgba(var(--destructive-color-rgba), 0.5);
    --destructive-color-gradient-080: rgba(var(--destructive-color-rgba), 0.8);

    --destructive-passive-color-hex: #fbebef;
    --destructive-passive-color-rgba: 251, 235, 239;
    --destructive-passive-color: rgba(var(--destructive-passive-color-rgba), 1);
    --destructive-passive-color-gradient-050: rgba(var(--destructive-passive-color-rgba), 0.5);

    --default-background-body-color: #f9f9f9;
    --default-background-body-color-contrast: #333232;

    --default-background-element-color: #fff;
    --default-background-element-color-contrast: #000;

    /* FONTS */
    --default-font-color: #333232;
    --default-font-color-contrast: #f9f9f9;

    /* BORDER */
    --default-border-color-gradient-003: rgba(0, 0, 0, 0.03);
    --default-border-color-gradient-005: rgba(0, 0, 0, 0.05);
    --default-border-color-gradient-007: rgba(0, 0, 0, 0.07);
    --default-border-color-gradient-010: rgba(0, 0, 0, 0.1);
    --default-border-color-gradient-020: rgba(0, 0, 0, 0.2);
    --default-border-color-gradient-030: rgba(0, 0, 0, 0.3);
    --default-border-color-gradient-040: rgba(0, 0, 0, 0.4);
    --default-border-color-gradient-050: rgba(0, 0, 0, 0.5);
    --default-border-color-gradient-060: rgba(0, 0, 0, 0.6);
    --default-border-color-gradient-070: rgba(0, 0, 0, 0.7);
    --default-border-color-gradient-090: rgba(0, 0, 0, 0.8);
    --default-border-color-gradient-090: rgba(0, 0, 0, 0.9);

    /* SHADOW */
    --default-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 0px;
    --navbar-box-shadow: 0 0 2px 0 rgb(0 35 90 / 6%);
}
