:root {
    --default-border-radius: 0.4rem;
    --default-border-radius-small-elements: 0.2rem;
    --rounded-border-radius: 50%;

    --default-input-height: 2rem;
    --navbar-height: 4.2rem;

    --default-font-size-large-element: 1rem;
    --default-font-size-medium-element: 0.8rem;
    --default-font-size-small-element: 0.65rem;
}
