<ng-container *ngIf="config && config.label && config.label.length > 0">
    <div
        class="input-container"
        [ngClass]="{
            disabled: config.disabled || inputControl.disabled,
            error: inputControl.errors && inputControl.touched,
            'prepend-container': config.prependIcon && config.prependTooltip,
            'append-container': config.appendIcon && config.appendTooltip
        }">
        <div class="input-context">
            <div class="prepend" *ngIf="config.prependIcon && config.prependTooltip" [tooltip]="config.prependTooltip || ''">
                <i class="ri-error-warning-line"></i>
            </div>

            <div class="body">
                <input
                    id="{{ config.label }}"
                    type="{{ config.type }}"
                    title="{{ config.title || '' }}"
                    placeholder="{{ config.placeholder || '' }}"
                    autocomplete="off"
                    autofocus="false"
                    [formControl]="inputControl"
                    [ngClass]="{ 'not-empty': !this.isEmpty }"
                    (focus)="onFocus()" />
                <label for="{{ config.label }}">
                    <span>{{ config.label | titlecase }}</span>
                    <small *ngIf="isOptional"> (Optional) </small>
                </label>

                <i
                    [ngClass]="{ visible: !isEmpty }"
                    title=" {{ 'Delete ' + (config.label | titlecase) }}"
                    class="ri-close-line"
                    [tooltip]="'Delete ' + (config.label | titlecase)"
                    role="button"
                    (click)="deleteInput()"></i>
            </div>

            <div class="append" *ngIf="config.appendIcon && config.appendTooltip" [tooltip]="config.appendTooltip || ''">
                <i class="ri-error-warning-line"></i>
            </div>
        </div>

        <small
            class="hint-context"
            *ngIf="!inputControl.errors && config.hint"
            [ngClass]="{ visible: config.hint && config.hint.length > 0 }">
            <i class="ri-error-warning-line"></i>
            <span>{{ config.hint }}</span>
        </small>

        <small class="error-context" [ngClass]="{ visible: inputControl.errors && inputControl.touched }">
            <i [hidden]="!inputControl.errors" class="ri-error-warning-line"></i>
            <span [hidden]="!inputControl.hasError('required')"> {{ errorMessage.REQUIRED }}</span>
        </small>
    </div>
</ng-container>
