@if (config && config.label && config.label.length > 0) {
    <div
        class="input-container"
        [ngClass]="{
            disabled: config.disabled || inputControl.disabled,
            error: inputControl.errors && inputControl.touched,
            'prepend-container': config.prependIcon && config.prependTooltip,
            'append-container': config.appendIcon && config.appendTooltip
        }">
        <div class="input-context">
            @if (config.prependIcon && config.prependTooltip) {
                <div class="prepend" [tooltip]="config.prependTooltip || ''">
                    <i class="ri-error-warning-line"></i>
                </div>
            }

            <div class="body">
                <input
                    id="{{ config.label }}"
                    type="{{ config.type }}"
                    title="{{ config.title || '' }}"
                    placeholder="{{ config.placeholder || '' }}"
                    autocomplete="off"
                    autofocus="false"
                    [formControl]="inputControl"
                    [ngClass]="{ 'not-empty': !this.isEmpty }"
                    (focus)="onFocus()" />
                <label for="{{ config.label | translate }}">
                    <span>{{ config.label | translate | titlecase }}</span>
                    @if (isOptional) {
                        <small> (Optional) </small>
                    }
                </label>

                <i
                    [ngClass]="{ visible: !isEmpty && (!config.disabled || !inputControl.disabled) }"
                    title=" {{ 'Delete ' + (config.label | translate | titlecase) }}"
                    class="ri-close-line"
                    [tooltip]="'Delete ' + (config.label | translate | titlecase)"
                    role="button"
                    (click)="deleteInput()"></i>
            </div>

            @if (config.appendIcon && config.appendTooltip) {
                <div class="append" [tooltip]="config.appendTooltip || ''">
                    <i class="ri-error-warning-line"></i>
                </div>
            }
        </div>

        @if (!inputControl.errors && config.hint) {
            <small class="hint-context" [ngClass]="{ visible: config.hint && config.hint.length > 0 }">
                <i class="ri-error-warning-line"></i>
                <span>{{ config.hint }}</span>
            </small>
        }

        <small class="error-context" [ngClass]="{ visible: inputControl.errors && inputControl.touched }">
            <i [hidden]="!inputControl.errors" class="ri-error-warning-line"></i>
            <span [hidden]="!inputControl.hasError('required')"> {{ errorMessage.REQUIRED }}</span>
        </small>
    </div>
}
