<ng-container *ngIf="config && config.label && config.label.length > 0">
  <div [ngClass]="{ disabled: config.disabled || inputControl.disabled, error: inputControl.errors }" class="container">
    <div class="input-context">
      <input
        id="{{ config.label }}"
        type="{{ config.type }}"
        title="{{ config.title || '' }}"
        [formControl]="inputControl"
        (focus)="onFocus()"
        placeholder="{{ config.placeholder || '' }}" />
      <label for="{{ config.label }}">
        {{ config.label | titlecase }}
        <small *ngIf="isOptional"> (Optional) </small>
      </label>
    </div>
    <small class="hint-context" *ngIf="!inputControl.errors && config.hint" [ngClass]="{ visible: config.hint && config.hint.length > 0 }">
      <i class="ri-error-warning-line"></i>
      <span>{{ config.hint }}</span>
    </small>
    <small class="error-context" [ngClass]="{ visible: inputControl.errors }">
      <i [hidden]="!inputControl.errors" class="ri-error-warning-line"></i>
      <span [hidden]="!inputControl.hasError('required')"> {{ errorMessage.REQUIRES(config.label | titlecase) }}</span>
    </small>
  </div>
</ng-container>
