.language-container {
    display: flex;
    align-items: center;
    position: relative;

    img,
    ul img {
        width: 32px;
        height: 32px;
    }

    ul {
        z-index: 99999;
        position: absolute;
        top: 100%;
        left: -0.2rem;
        border-top: 3px solid transparent;
        list-style: none;
        padding-top: 0.2rem;
        padding-bottom: 0.4rem;
        margin: 0;
        margin-top: 1.5rem;
        opacity: 0;
        pointer-events: none;
        box-shadow: var(--default-box-shadow);
        border-radius: var(--default-border-radius);
        background-color: var(--white-color);
        animation: fadeOut 300ms 0 ease forwards;

        &.show {
            pointer-events: auto;
            animation: fadeIn 300ms ease forwards;
        }

        li,
        li div {
            display: flex;
            align-items: center;
        }

        li {
            padding: 0 0.6rem 0 0.2rem;
            min-width: 8rem;

            > div > div {
                margin-left: 0.5rem;
                display: grid;
                justify-content: flex-start;

                small {
                    padding-left: 0.2rem;
                    font-size: 0.65rem;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        display: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
