<div class="language-container" role="button" (click)="toggleOptions()">
    <img [hidden]="!selectedLanguage" [attr.src]="selectedLanguage?.logoFlagPath" alt="{{ selectedLanguage?.alternativeText }}" />

    <ul #languageList [ngClass]="{ show: showOptions }">
        @for (selectableLanguage of selectableLanguageList; track selectableLanguage) {
            <li>
                <div role="button" (click)="changeLanguage(selectableLanguage.languageCode)">
                    <img [attr.src]="selectableLanguage.logoFlagPath" alt="{{ selectableLanguage.alternativeText }}" />
                    <div>
                        <span>{{ selectableLanguage.alternativeText | translate }}</span>
                        <small>{{ selectableLanguage.nativeText }}</small>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
