<article>
    <div class="header">
        <h1>Buttons used on website</h1>
    </div>

    <div class="body">
        <div class="grid">
            <fieldset>
                <legend>Primary button</legend>

                <div>
                    @if (primaryButtonConfig) {
                    <lnk-primary-button [_config]="primaryButtonConfig" (onClickEvent)="clickButton($event)"> </lnk-primary-button>
                    } @if (primaryButtonDisabledConfig) {
                    <lnk-primary-button [_config]="primaryButtonDisabledConfig" (onClickEvent)="clickButton($event)"></lnk-primary-button>
                    } @if (primaryButtonWithIconConfig) {
                    <lnk-primary-button [_config]="primaryButtonWithIconConfig" (onClickEvent)="clickButton($event)"></lnk-primary-button>
                    } @if (primaryButtonWithOnlyIconConfig) {
                    <lnk-primary-button
                        [_config]="primaryButtonWithOnlyIconConfig"
                        (onClickEvent)="clickButton($event)"></lnk-primary-button>
                    }
                </div>
            </fieldset>

            <fieldset>
                <legend>Secondary button</legend>

                <div>
                    @if (secondaryButtonConfig) {
                    <lnk-secondary-button [_config]="secondaryButtonConfig" (onClickEvent)="clickButton($event)"></lnk-secondary-button>
                    } @if (secondaryButtonDisabledConfig) {
                    <lnk-secondary-button
                        [_config]="secondaryButtonDisabledConfig"
                        (onClickEvent)="clickButton($event)"></lnk-secondary-button>
                    } @if (secondaryButtonWithIconConfig) {
                    <lnk-secondary-button
                        [_config]="secondaryButtonWithIconConfig"
                        (onClickEvent)="clickButton($event)"></lnk-secondary-button>
                    } @if (secondaryButtonWithOnlyIconConfig) {
                    <lnk-secondary-button
                        [_config]="secondaryButtonWithOnlyIconConfig"
                        (onClickEvent)="clickButton($event)"></lnk-secondary-button>
                    }
                </div>
            </fieldset>

            <fieldset>
                <legend>Accent button</legend>

                <div>
                    <lnk-accent-button [_config]="accentButtonConfig" (onClickEvent)="clickButton($event)"></lnk-accent-button>
                    <lnk-accent-button [_config]="accentButtonDisabledConfig" (onClickEvent)="clickButton($event)"></lnk-accent-button>
                    <lnk-accent-button [_config]="accentButtonWithIconConfig" (onClickEvent)="clickButton($event)"></lnk-accent-button>
                    <lnk-accent-button [_config]="accentButtonWithOnlyIconConfig" (onClickEvent)="clickButton($event)"></lnk-accent-button>
                </div>
            </fieldset>

            <fieldset>
                <legend>Destructive button</legend>

                <div>
                    <lnk-destructive-button [_config]="destructiveButtonConfig" (onClickEvent)="clickButton($event)">
                    </lnk-destructive-button>

                    <lnk-destructive-button [_config]="destructiveButtonDisabledConfig" (onClickEvent)="clickButton($event)">
                    </lnk-destructive-button>

                    <lnk-destructive-button [_config]="destructiveButtonWithIconConfig" (onClickEvent)="clickButton($event)">
                    </lnk-destructive-button>

                    <lnk-destructive-button [_config]="destructiveButtonWithOnlyIconConfig" (onClickEvent)="clickButton($event)">
                    </lnk-destructive-button>
                </div>
            </fieldset>
        </div>
    </div>
</article>
