<article>
  <div class="header">
    <h1>Buttons used on website</h1>
  </div>

  <div class="body">
    <div class="grid">
      <fieldset>
        <legend>Primary button</legend>

        <div>
          <lnk-primary-button
            *ngIf="primaryButtonConfig"
            [_config]="primaryButtonConfig"
            (onClickEvent)="clickButton($event)"></lnk-primary-button>
          <lnk-primary-button
            *ngIf="primaryButtonDisabledConfig"
            [_config]="primaryButtonDisabledConfig"
            (onClickEvent)="clickButton($event)"></lnk-primary-button>
          <lnk-primary-button
            *ngIf="primaryButtonWithIconConfig"
            [_config]="primaryButtonWithIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-primary-button>
          <lnk-primary-button
            *ngIf="primaryButtonWithOnlyIconConfig"
            [_config]="primaryButtonWithOnlyIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-primary-button>
        </div>
      </fieldset>

      <fieldset>
        <legend>Secondary button</legend>

        <div>
          <lnk-secondary-button
            *ngIf="secondaryButtonConfig"
            [_config]="secondaryButtonConfig"
            (onClickEvent)="clickButton($event)"></lnk-secondary-button>
          <lnk-secondary-button
            *ngIf="secondaryButtonDisabledConfig"
            [_config]="secondaryButtonDisabledConfig"
            (onClickEvent)="clickButton($event)"></lnk-secondary-button>
          <lnk-secondary-button
            *ngIf="secondaryButtonWithIconConfig"
            [_config]="secondaryButtonWithIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-secondary-button>
          <lnk-secondary-button
            *ngIf="secondaryButtonWithOnlyIconConfig"
            [_config]="secondaryButtonWithOnlyIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-secondary-button>
        </div>
      </fieldset>

      <fieldset>
        <legend>Accent button</legend>

        <div>
          <lnk-accent-button
            *ngIf="accentButtonConfig"
            [_config]="accentButtonConfig"
            (onClickEvent)="clickButton($event)"></lnk-accent-button>
          <lnk-accent-button
            *ngIf="accentButtonDisabledConfig"
            [_config]="accentButtonDisabledConfig"
            (onClickEvent)="clickButton($event)"></lnk-accent-button>
          <lnk-accent-button
            *ngIf="accentButtonWithIconConfig"
            [_config]="accentButtonWithIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-accent-button>
          <lnk-accent-button
            *ngIf="accentButtonWithOnlyIconConfig"
            [_config]="accentButtonWithOnlyIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-accent-button>
        </div>
      </fieldset>

      <fieldset>
        <legend>Destructive button</legend>

        <div>
          <lnk-destructive-button
            *ngIf="destructiveButtonConfig"
            [_config]="destructiveButtonConfig"
            (onClickEvent)="clickButton($event)"></lnk-destructive-button>
          <lnk-destructive-button
            *ngIf="destructiveButtonDisabledConfig"
            [_config]="destructiveButtonDisabledConfig"
            (onClickEvent)="clickButton($event)"></lnk-destructive-button>
          <lnk-destructive-button
            *ngIf="destructiveButtonWithIconConfig"
            [_config]="destructiveButtonWithIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-destructive-button>
          <lnk-destructive-button
            *ngIf="destructiveButtonWithOnlyIconConfig"
            [_config]="destructiveButtonWithOnlyIconConfig"
            (onClickEvent)="clickButton($event)"></lnk-destructive-button>
        </div>
      </fieldset>
    </div>
  </div>
</article>
