<article>
  <div class="header">
    <h1>Inputs used on website</h1>
  </div>

  <div class="body">
    <div class="grid">
      <fieldset>
        <legend>Plain Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input [_config]="onlyInputConfig"></lnk-input>
          <!-- Disabled -->
          <lnk-input [_config]="disabledInputConfig"></lnk-input>
          <!-- Error -->
          <lnk-input [_config]="errorRequiredInputConfig"></lnk-input>
          <!-- Hint -->
          <lnk-input [_config]="hintInputConfig"></lnk-input>
          <!-- Placeholder -->
          <lnk-input [_config]="placeholderInputConfig"></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Prepend Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input [_config]="prependOnlyInputConfig"></lnk-input>
          <!-- Disabled -->
          <lnk-input [_config]="prependDisabledInputConfig"></lnk-input>
          <!-- Error -->
          <lnk-input [_config]="prependErrorRequiredInputConfig"></lnk-input>
          <!-- Hint -->
          <lnk-input [_config]="prependHintInputConfig"></lnk-input>
          <!-- Placeholder -->
          <lnk-input [_config]="prependPlaceholderInputConfig"></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Append Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input [_config]="appendOnlyInputConfig"></lnk-input>
          <!-- Disabled -->
          <lnk-input [_config]="appendDisabledInputConfig"></lnk-input>
          <!-- Error -->
          <lnk-input [_config]="appendErrorRequiredInputConfig"></lnk-input>
          <!-- Hint -->
          <lnk-input [_config]="appendHintInputConfig"></lnk-input>
          <!-- Placeholder -->
          <lnk-input [_config]="appendPlaceholderInputConfig"></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Prepend/Append Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input [_config]="prependAppendOnlyInputConfig"></lnk-input>
          <!-- Disabled -->
          <lnk-input [_config]="prependAppendDisabledInputConfig"></lnk-input>
          <!-- Error -->
          <lnk-input [_config]="prependAppendErrorRequiredInputConfig"></lnk-input>
          <!-- Hint -->
          <lnk-input [_config]="prependAppendHintInputConfig"></lnk-input>
          <!-- Placeholder -->
          <lnk-input [_config]="prependAppendPlaceholderInputConfig"></lnk-input>
        </div>
      </fieldset>
    </div>
  </div>
</article>
