<article>
  <div class="header">
    <h1>Inputs used on website</h1>
  </div>

  <div class="body">
    <div class="grid">
      <fieldset>
        <legend>Plain Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input [_config]="onlyInputConfig"></lnk-input>
          <!-- Disabled -->
          <lnk-input [_config]="disabledInputConfig"></lnk-input>
          <!-- Error -->
          <lnk-input [_config]="errorRequiredInputConfig"></lnk-input>
          <!-- Hint -->
          <lnk-input [_config]="hintInputConfig"></lnk-input>
          <!-- Placeholder -->
          <lnk-input [_config]="placeholderInputConfig"></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Prepend Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input></lnk-input>
          <!-- Disabled -->
          <lnk-input></lnk-input>
          <!-- Error -->
          <lnk-input></lnk-input>
          <!-- Hint -->
          <lnk-input></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Append Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input></lnk-input>
          <!-- Disabled -->
          <lnk-input></lnk-input>
          <!-- Error -->
          <lnk-input></lnk-input>
          <!-- Hint -->
          <lnk-input></lnk-input>
        </div>
      </fieldset>

      <fieldset>
        <legend>Prepend/Append Input</legend>

        <div>
          <!-- Standard -->
          <lnk-input></lnk-input>
          <!-- Disabled -->
          <lnk-input></lnk-input>
          <!-- Error -->
          <lnk-input></lnk-input>
          <!-- Hint -->
          <lnk-input></lnk-input>
        </div>
      </fieldset>
    </div>
  </div>
</article>
