.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;
    transition-delay: 200ms;
    z-index: 9998;

    &.visible {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 200ms;
    }

    &:not(.visible):hover {
        pointer-events: none;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lnk-navbar {
    height: 5rem;
}

.side-content {
    display: flex;
}

.sidebar {
    width: 15%;
}

.content {
    flex: 1;
    padding: 1rem;
}

@media (max-width: 768px) {
    .side-content {
        flex-direction: row;
    }

    .sidebar {
        width: 100%;
    }

    .content {
        flex: 1;
    }
}
