@use '../button.component.scss';

[data-type='destructive'] {
    background-color: var(--destructive-passive-color);
    color: var(--destructive-color);
    border-color: var(--destructive-color);

    &:not(:disabled):hover {
        background-color: var(--destructive-color);
        color: var(--destructive-passive-color);
        border-color: var(--destructive-color);
    }
}

:not(.only-icon) {
    [data-type='destructive'] {
        > div > i {
            background-color: var(--destructive-color);
            color: var(--destructive-passive-color);
        }
    }
}
