.card-container {
    border-radius: var(--default-border-radius);
    border: 0.08rem solid var(--default-border-color-gradient-010);
    background: var(--default-background-element-color);
    min-width: 20rem;
    min-height: 16rem;
    padding-bottom: 0.5rem;
    transition:
        transform 0.3s ease,
        width 0.3s ease,
        height 0.3s ease;

    > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 1rem;
        padding-bottom: 0.4rem;
        padding-inline: 1rem;

        color: var(--default-font-color);

        > p {
            font-weight: bold;
            font-size: var(--default-font-size-large-element);
        }
    }

    > :last-child {
        padding-bottom: 0;
        padding-inline: 1.5rem;
    }
}
