.modal-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition:
        opacity 600ms,
        transform 600ms,
        top 600ms;

    &.visible {
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, -50%) scale(1);
        transition:
            opacity 400ms,
            transform 400ms,
            top 400ms;
        top: 25%;
        z-index: 9999;

        ::ng-deep {
            > * {
                opacity: 1;
                transition: opacity 100ms;
            }
        }
    }
}

.modal-container,
.modal-container .container-fluid {
    padding: 0;
    margin: 0;
}
