@if (config && (config.text || config.icon)) {
    <div [ngClass]="{ disabled: config.disabled, 'only-icon': onlyIcon }" class="button-container" [attr.data-weight]="config.weight">
        <button
            type="{{ config.submit ? 'submit' : 'button' }}"
            title="{{ config.disabled ? '' : config.tooltip }}"
            [attr.data-type]="config.type"
            [attr.data-hotkeys]="config.hotkeys?.length"
            [disabled]="config.disabled"
            [tooltip]="config.tooltip | translate"
            (click)="onClick(config)">
            <div>
                @if (config.text && config.text.length > 0) {
                    <span> {{ config.text | translate }}</span>
                }

                @if (config.icon && config.icon.length > 0) {
                    <i [attr.class]="'ri-15x' + ' ' + config.icon"></i>
                }
            </div>
        </button>
        @if (config.hotkeys && config.hotkeys.length > 0) {
            <small>
                @if (config.hotkeys[0]) {
                    <span> {{ config.hotkeys[0] | titlecase }} </span>
                }
            
                <span> + </span>

                @if (config.hotkeys[1]) {
                    <span> {{ config.hotkeys[1] | titlecase }} </span>
                }
            </small>
        }
    </div>
}
