.container,
.container > button,
.container > :last-child {
  width: 100%;
}

.container {
  position: relative;
  margin-bottom: 1rem;

  button {
    border-radius: var(--default-border-radius);
    min-height: 2.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border: 0.15rem solid;
    font-weight: bold;
    box-shadow: var(--default-box-shadow);

    > div {
      display: flex;
      align-items: center;
      justify-content: center;

      span,
      i {
        margin: 0 0.25rem;
      }
    }

    &[data-type='primary'] {
      background-color: var(--primary-color);
      color: var(--white-color);
      border-color: var(--primary-color);

      &:not(:disabled):hover {
        background-color: var(--primary-passive-color);
        color: var(--primary-color);
        border-color: var(--primary-passive-color);
      }
    }

    &[data-type='secondary'] {
      background-color: var(--secondary-color);
      color: var(--default-font-color);
      border: 1px solid var(--secondary-color);

      &:not(:disabled):hover {
        background-color: var(--secondary-passive-color);
        color: var(--secondary-color);
        border: 1px solid var(--secondary-passive-color);
      }
    }

    &[data-type='accent'] {
      background-color: var(--accent-color);
      color: var(--white-color);
      border: 1px solid var(--accent-color);

      &:not(:disabled):hover {
        background-color: var(--accent-passive-color);
        color: var(--accent-color);
        border: 1px solid var(--accent-passive-color);
      }
    }

    &[data-type='destructive'] {
      background-color: var(--destructive-passive-color);
      color: var(--destructive-color);
      border-color: var(--destructive-color);

      &:not(:disabled):hover {
        background-color: var(--destructive-color);
        color: var(--destructive-passive-color);
        border-color: var(--destructive-color);
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &:active {
      transform: scale(0.95);
    }

    > div span::first-letter {
      font-size: 1.25rem;
    }
  }

  small {
    z-index: -1;
    position: absolute;
    bottom: 0.8rem;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2rem;

    transition: opacity 300ms ease-in-out;

    border: 1px dashed var(--default-border-color-gradient-010);
    border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

    span {
      margin: 0 0.2rem;
    }
  }

  &.disabled {
    small {
      opacity: 0;
    }
  }

  &.only-icon {
    button {
      width: 2.5rem;
      border-radius: 50%;
    }

    small {
      visibility: hidden;
    }
  }

  &:not(.only-icon) {
    > button > div > i {
      position: relative;
      top: 0.1rem;
    }
  }
}
