<ng-container *ngIf="config && (config.text || config.icon)">
    <div [ngClass]="{ disabled: config.disabled, 'only-icon': onlyIcon }" class="button-container">
        <button
            type="{{ config.submit ? 'submit' : 'button' }}"
            title="{{ config.disabled ? '' : config.tooltip }}"
            [attr.data-type]="config.type"
            [disabled]="config.disabled"
            [tooltip]="config.tooltip"
            (click)="onClick(config)">
            <div>
                <span *ngIf="config?.text && config.text.length > 0">
                    {{ config.text }}
                </span>
                <i *ngIf="config.icon && config.icon.length > 0" [attr.class]="'ri-15x' + ' ' + config.icon"></i>
            </div>
        </button>
        <small *ngIf="config.hotkeys && config.hotkeys.length > 0">
            <span *ngIf="config.hotkeys[0]"> {{ config.hotkeys[0] | titlecase }} </span>
            <span> + </span>
            <span *ngIf="config.hotkeys[1]"> {{ config.hotkeys[1] | titlecase }} </span>
        </small>
    </div>
</ng-container>
