<article>
    <header>
        <h1> Colors used on website </h1>
    </header>

    <body>
        <div class="grid">
            <ng-container *ngFor="let templateColor of templateColorList">
                <div class="card" role="button" cdkCopyToClipboard="{{ templateColor.code | uppercase }}">
                    <div [attr.style]="'background-color: ' + templateColor.code + '; border: 1px solid ' + templateColor.code ">
                        <span [attr.style]="'color: ' + templateColor.highlightColor?.code">{{ templateColor.code | uppercase }}</span>
                    </div>
                    <div>
                        <h4>{{ templateColor.name | titlecase }}</h4>
                        <small *ngIf="templateColor?.description"> {{ templateColor.description | titlecase }} </small>
                    </div>
                </div>
            </ng-container>
        </div>
    </body>
</article>