.group-link-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    justify-items: start;

    .link-list-container {
        height: 8rem;
        max-height: 8rem;
        min-height: 8rem;
    }

    .info-actions-container {
        padding-top: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        :last-child {
            display: flex;
            flex: 0 auto;
        }
    }
}

@media (max-width: 768px) {
    .group-link-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .group-link-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
