<article class="group-link-container">
    <ng-container *ngFor="let groupLinkListItem of groupLinkListItemList">
        <lnk-simple-card [_config]="groupLinkListItem.cardConfig">
            <div class="link-list-container">
                <ng-container *ngFor="let link of groupLinkListItem.cardConfig.containerItem?.linkList; let linkIndex = index">
                    <lnk-link-list-item
                        [_linkListItemPosition]="linkIndex + linkIndexOffset"
                        [_limit]="5"
                        [_linkListItem]="link"></lnk-link-list-item>
                </ng-container>
            </div>

            <div class="info-actions-container">
                <div>
                    <lnk-primary-button
                        *ngIf="addNewLinkIntoGroupLinkButtonConfig"
                        [_config]="addNewLinkIntoGroupLinkButtonConfig"
                        (onClickEvent)="addNewLinkIntoGroup(groupLinkListItem)"></lnk-primary-button>
                </div>

                <div>
                    <small>Showing 5 of {{ groupLinkListItem.cardConfig.containerItem?.linkList?.length ?? 5 }}</small>
                </div>

                <lnk-modal [_isOpen]="groupLinkListItem.openModalCreateNewLink">
                    <lnk-create-link
                        [_config]="groupLinkListItem.createLinkConfig"
                        (_cancel)="groupLinkListItem.openModalCreateNewLink = false"></lnk-create-link>
                </lnk-modal>
            </div>
        </lnk-simple-card>
    </ng-container>
</article>
