<article>
    <div class="header">
        <h1>Colors used on website</h1>
    </div>

    <div class="body">
        <div class="grid">
            @for (templateColor of templateColorList; track templateColor) {
                <div class="card" role="button" cdkCopyToClipboard="{{ templateColor.code | uppercase }}">
                    <div [attr.style]="'background-color: ' + templateColor.code + '; border: 1px solid ' + templateColor.code">
                        <span [attr.style]="'color: ' + templateColor.highlightColor?.code">{{ templateColor.code | uppercase }}</span>
                    </div>
                    <div>
                        <h4>{{ templateColor.name | titlecase }}</h4>
                        @if (templateColor?.description) {
                            <small>
                                {{ templateColor.description | titlecase }}
                            </small>
                        }
                    </div>
                </div>
            
            }
        </div>
    </div>
</article>
