.card-container {
    border-radius: var(--default-border-radius);
    border: 0.08rem solid var(--default-border-color-gradient-010);
    background: var(--default-background-element-color);
    min-width: 20rem;
    min-height: 16rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;

    > :first-child {
        padding-top: 1rem;
        padding-bottom: 0.4rem;

        > p {
            font-weight: bold;
            font-size: var(--default-font-size-large-element);
        }

        &[data-align] {
            display: grid;
        }

        &[data-align='left'] {
            place-items: left;
        }

        &[data-align='right'] {
            place-items: right;
        }

        &[data-align='center'] {
            place-items: center;
        }
    }

    > :last-child {
        padding-bottom: 0;
    }
}
