<article class="container-fluid user-login-container">
    <lnk-card [_config]="userLoginCardConfig" class="container-fluid">
        <form [formGroup]="userLoginForm" class="row">
            <lnk-input class="col-sm-12" [_config]="userNameInputConfig"></lnk-input>

            <lnk-input class="col-sm-12" [_config]="passwordInputConfig"></lnk-input>

            <lnk-primary-button
                *ngIf="loginButtonConfig"
                class="col-md-12"
                [_config]="loginButtonConfig"
                (onClickEvent)="userSign()"></lnk-primary-button>
        </form>
    </lnk-card>
</article>
