.link-list-header {
    ::ng-deep {
        button {
            position: relative;
            left: -1rem;
            > div > i {
                transform: rotate(45deg);
            }
        }
    }
}

.link-list-container {
    height: 8.7rem;
    max-height: 8.7rem;
    min-height: 8.7rem;
}

.info-actions-container {
    > :nth-child(2) > small {
        color: var(--primary-color-gradient-050);
    }
}
