.sidebar-container {
    background-color: var(--white-color);

    > * {
        width: 100%;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
        align-self: stretch;
    }

    display: grid;
    grid-template-columns: 'header main footer';
    grid-template-rows: auto 1fr auto;
}
